<% destinations.each do |destination| %>
  <div id="destination-id-<%= destination.id %>">
    <div class="card card-compact bg-base-100 w-96 shadow-xl my-4 pt-2">
      <figure>
        <%= link_to destination_path(destination) do %>
          <% if destination.image.attached? %>
            <li><%= image_tag destination.image, class: "rounded-lg" %></li>
          <% else %>
            <li><%= image_tag 'no_image.jpg', size:'400x300' %></li>
          <% end %>
        <% end %>
      </figure>
      <div class="card-body">
        <%= link_to destination_path(destination), data: { turbo: false } do %>
          <h2 class="card-title"><%= destination.name %></h2>
        <% end %>
        <p><%= destination.address %></p>
        <% if destination.rating.present? %>
          <li>★<%= destination.rating %>(レビュー件数:<%= destination.user_ratings_total%>件)</li>
        <% end %>
        <div>
          <% if destination.business_hours.present? %>
            <p>営業時間</p>
            <% destination.business_hours.each do |business_hour| %>
              <li><%= business_hour %></li>
            <% end %>
          <% end %>
        </div>
        <div class="card-actions justify-end">
          <%= button_to "詳細", destination_path(destination), class: "btn", method: :get, data: { turbo: false }%>
        </div>
      </div>
    </div>
  </div>
<% end %>