<div class="pt-3 mb-3">
  <h2 class="text-lg menu items-center">お気に入り一覧</h2>
  <div class="bg-base-200 menu items-center">
    <% if @favorite_destinations.present? %>
      <% @favorite_destinations.each do |destination| %>
        <div id="destination-id-<%= destination.id %>">
          <div class="card">
            <ul id="places">
              <li class="text-lg"><%= destination.name %></li>
              <%= link_to destination_path(destination) do %>
                <% if destination.image.present? %>
                  <li><img src="<%= get_photo_url(destination.image) %>" alt="<%= destination.name %>" width="400" height="300"></li>
                <% end %>
              <% end %>
              <li><%= destination.address %></li>
              <li>★<%= destination.rating %>(レビュー件数:<%= destination.user_ratings_total%>件)</li>
            </ul>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>お気に入りに登録されたスポットがありません</p>
    <% end %>
  </div>
</div>