<div class="pt-3 mb-3">
  <h2 class="text-lg menu items-center">お気に入り一覧</h2>
  <div class="bg-base-200 menu items-center">
    <% if @favorite_destinations.present? %>
      <% @favorite_destinations.each do |destination| %>
        <div id="destination-id-<%= destination.id %>">
          <div class="card card-compact bg-base-100 w-96 shadow-xl my-4">
            <figure>
              <%= link_to destination_path(destination) do %>
                <% if destination.image.present? %>
                  <li><%= image_tag "data:image/jpeg;base64,#{destination.image}" %></li>
                <% else %>
                  <li><%= image_tag 'no_image.svg', size:'400x300' %></li>
                <% end %>
              <% end %>
            </figure>
            <div class="card-body">
              <%= link_to destination_path(destination) do %>
                <h2 class="card-title"><%= destination.name %></h2>
              <% end %>
              <p><%= destination.address %></p>
              <% if destination.rating.present? %>
                <li>★<%= destination.rating %>(レビュー件数:<%= destination.user_ratings_total%>件)</li>
              <% end %>
              <div class="card-actions justify-end">
                <button class="btn">これ廃止　詳細ページに行ってみるボタンを作る</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>お気に入りに登録されたスポットがありません</p>
    <% end %>
  </div>
</div>