<div class="pt-3 mb-3">
  <h2 class="text-lg menu items-center">後で行く一覧</h2>
  <div class="bg-base-200 menu items-center">
    <% if @future_visit_destinations.present? %>
      <% @future_visit_destinations.each do |destination| %>
        <div id="destination-id-<%= destination.id %>">
          <div class="card">
            <ul id="places">
              <li class="text-lg"><%= destination.name %></li>
              <li><%= link_to destination_path(destination) do %>
              <% if destination.image.present? %>
                <img src="<%= get_photo_url(destination.image) %>" alt="<%= destination.name %>" width="400" height="300"></li>
              <% end %>
              <% end %>
              <li><%= destination.address %></li>
              <li><%= destination.rating %></li>
              
            </ul>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>後で行くに登録されたスポットがありません</p>
    <% end %>
  </div>
</div>