<header>
  <div class="navbar bg-base-300 ">
    <div class="flex-3 px-5 lg:flex-none">
      <%= link_to '/', class: 'navbar-brand' do %>
        <%= image_tag 'ride_finder_logo.png', size:'70x70' %>
      <% end %>
    </div>
    <button class="btn" onclick="my_modal_2.showModal()">ツーリングスポットを探す</button>
    <dialog id="my_modal_2" class="modal">
      <div class="modal-box">
        <h3 class="font-bold text-lg">探したいツーリングスポットのカテゴリーを選択して下さい</h3>
        <p class="py-4"></p>
        <div>
          <%= form_with url: search_results_path, method: :get, local: true do |form| %>
            <div>
              <%= form.label :category, "カテゴリー：" %>
              <%= form.select :category, VisitCategory.names.keys.map { |key| [I18n.t("activerecord.attributes.visit_category.name.#{key}"), key] }, {}, {class: "select select-bordered select-sm  w-full max-w-xs"} %>
            </div>
            <h3 class="font-bold text-lg">条件を決めて現在地から探したい範囲を指定して下さい</h3>
            <div>
              <%= form.label :condition, "条件：" %>
              <%= form.select :condition, Condition.condition_types.keys.map { |key| [I18n.t("activerecord.attributes.condition.condition_type.#{key}"), key] }, {}, id: 'condition-select', class: "select select-bordered  w-full max-w-xs" %>
            </div>
            <div id="value-distance">
              <%= form.label :value, "探す範囲(km)：" %>
              <%= form.select :value, [30, 45, 60, 80, 100, 150].map { |v| [v, v] },{}, {class: 'form-control select select-bordered  w-full max-w-xs'} %>
            </div>
            <div id="value-time" style="display:none;">
              <%= form.label :value, "時間：" %>
              <%= form.select :value, [30, 45, 60].map { |v| ["#{v}分", v] },{}, {class: 'form-control w-full'} %>
            </div>
            <%= form.submit "検索", class: "btn btn-ghost rounded-btn" %>
          <% end %>
        </div>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
    <div class="flex justify-end flex-1 px-5">
      <div class="flex items-stretch">
        <%= button_to "ログイン", login_path, method: :get, class: "btn btn-ghost rounded-btn" %>
      </div>
    </div>
  </div>
</header>