<header>
  <div class="navbar bg-base-300 ">
    <div class="flex-1">
      <%= link_to '/', class: 'navbar-brand' do %>
        <%= image_tag 'ride_finder_logo.png', size:'60x60' %>
      <% end %>
    </div>
    <button class="btn" onclick="my_modal_2.showModal()">ツーリングスポットを探す</button>
    <dialog id="my_modal_2" class="modal">
      <div class="modal-box">
        <h3 class="font-bold text-lg pb-4">探したいツーリングスポットのカテゴリーを選択して下さい</h3>
        <div>
          <%= form_with url: searchs_result_path, method: :get, local: true do |form| %>
            <div class="pb-4">
            <p class="">行きたい場所のカテゴリーを選択して下さい</p>
              <%= form.label :category, "カテゴリー", class:"hidden" %>
              <%= form.select :category, VisitCategory.names.keys.map { |key| [I18n.t("activerecord.attributes.visit_category.name.#{key}"), key] }, {}, {class: "select select-bordered  w-full max-w-xs"} %>
            </div>
            <p>「時間」「距離」のどちらで探すか選択して下さい</p>
            <div class="pb-4">
              <%= form.label :condition, "条件", class:"hidden" %>
              <%= form.select :condition, Condition.condition_types.keys.map { |key| [I18n.t("activerecord.attributes.condition.condition_type.#{key}"), key] }, {}, id: 'condition-select', class: "select select-bordered  w-full max-w-xs" %>
            </div>

            <div id="value-distance" class="pb-4">
              <p>現在地から何km以内のツーリングスポットを探すか選択して下さい</p>
              <%= form.label :distance_value, "探す範囲(km)", class:"hidden" %>
              <%= form.select :distance_value, [30, 45, 60, 80, 100, 150].map { |v| ["#{v}km以内", v] },{}, {class: 'form-control select select-bordered  w-full max-w-xs'} %>
            </div>
            <div id="value-time" class="pb-4" style="display:none;">
              <p>現在地からおおよそ何分以内のツーリングスポットを探すか選択して下さい(有料道路込みの時間で計算されます)</p>
              <%= form.label :time_value, "時間：",class:"hidden" %>
              <%= form.select :time_value, [30, 45, 60].map { |v| ["#{v}分以内", v] },{}, {class: 'form-control select select-bordered  w-full max-w-xs'} %>
            </div>
            <%= form.submit "検索", class: "btn rounded-btn" %>
          <% end %>
        </div>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
    <div class="flex-none flex justify-end px-2 z-50">
        <%= button_to "ログイン", login_path, method: :get, class: "btn btn-ghost rounded-btn" %>
    </div>
  </div>
</header>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const conditionSelect = document.getElementById('condition-select');
  const valueDistance = document.getElementById('value-distance');
  const valueTime = document.getElementById('value-time');

  function toggleValueFields() {
    if (conditionSelect.value === 'distance') {
      valueDistance.style.display = 'block';
      valueTime.style.display = 'none';
    } else if (conditionSelect.value === 'time') {
      valueDistance.style.display = 'none';
      valueTime.style.display = 'block';
    }
  }

  conditionSelect.addEventListener('change', toggleValueFields);
  toggleValueFields(); // 初期表示のために呼び出し
});
</script>