<header>
  <div class="navbar bg-base-300 ">
    <div class="flex-3 px-5 lg:flex-none">
    	<%= link_to '/', class: 'navbar-brand' do %>
      	<%= image_tag 'ride_finder_logo.png', size:'80x80' %>
    	<% end %>
    </div> 
    <button class="btn" onclick="my_modal_2.showModal()">ツーリングスポットを探す</button>
    <dialog id="my_modal_2" class="modal">
    <div class="modal-box">
    <h3 class="font-bold text-lg">探したいツーリングスポットのカテゴリーを選択して下さい</h3>
    <p class="py-4"></p>
    <div>
    <%= form_with url: search_results_path, method: :get, local: true do |form| %>
      <div>
        <%= form.label :category, "カテゴリー：" %>
        <%= form.select :category, VisitCategory.names.keys.map { |key| [I18n.t("activerecord.attributes.visit_category.name.#{key}"), key] }, class: 'form-control select w-full max-w-xs ' %>
      </div>
      <h3 class="font-bold text-lg">条件を決めて現在地から探したい範囲を指定して下さい</h3>
      <div>
        <%= form.label :condition, "条件：" %>
        <%= form.select :condition, Condition.condition_types.keys.map { |key| [I18n.t("activerecord.attributes.condition.condition_type.#{key}"), key] }, class: 'form-control w-full ' %>
      </div>
      
      <%= form.submit "検索", class: "btn btn-ghost rounded-btn" %>
    <% end %>
    </div>

  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
   
    <div class="flex justify-end flex-1 px-5">
      <div class="flex items-stretch">
      <%= button_to "Googleでログイン", "/auth/google_oauth2",method: :post, class: "btn btn-ghost rounded-btn" %>
        <div class="dropdown dropdown-end">
        <div class="drawer drawer-end">
        <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content">
      </div>
    </div>
  </div>
</header>