<header>
  <div class="navbar bg-base-300 ">
    <div class="flex-3 px-5 lg:flex-none">
    	<%= link_to '/', class: "navbar-brand" do %>
        <%= image_tag 'ride_finder_logo.png', size:'80x80' %>
    	<% end %>
    </div> 
    <div class="flex justify-end flex-1 px-5 ">
      <div class="dropdown ">
        <div tabindex="0" role="button" class="btn btn-ghost btn-block rounded-btn">
          メニュー  
          <svg width="12px" height="12px" class="h-3 w-3 fill-current opacity-60 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048"><path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path></svg>
        </div>
        <ul tabindex="0" class="menu dropdown-content z-[1] p-5 shadow bg-base-200 rounded max-w-xs mt-4">
          <li><%= link_to "後で行きたい", "#", class: "btn btn-block btn-ghost" %></li>
          <li><%= link_to "お気に入り", "#", class: "btn btn-block btn-ghost" %></li>
          <li><%= link_to "マイページ", users_show_path, class: "btn btn-block btn-ghost" %></li>
          <li><%= link_to "ログアウト", signout_path, data: { turbo_method: :delete }, class: "btn btn-block btn-ghost" %></li>
        </ul>
      </div>
    </div>
  </div>
</header>