<!DOCTYPE html>
<html>
  <head>
    <title>Ride Finder</title>
    <%= favicon_link_tag('favicon.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'layouts/header' %>
    <% else %>
      <%= render 'layouts/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render "layouts/footer" %>
    <script>
  function showModal() {
    const modal = document.getElementById('my_modal_2');
    modal.showModal();

    // モーダルが表示された後にイベントリスナーを追加
    const conditionSelect = document.getElementById('condition-select');
    const valueDistance = document.getElementById('value-distance');
    const valueTime = document.getElementById('value-time');

    if (conditionSelect) {
      conditionSelect.addEventListener('change', function() {
        if (this.value === 'distance') {
          valueDistance.style.display = 'block';
          valueTime.style.display = 'none';
        } else if (this.value === 'time') {
          valueDistance.style.display = 'none';
          valueTime.style.display = 'block';
        } else {
          valueDistance.style.display = 'none';
          valueTime.style.display = 'none';
        }
      });
    }
  }
</script>
  </body>
</html>
