<!DOCTYPE html>
<html>
  <head>
    <title>Ride Finder</title>
    <%= favicon_link_tag('favicon.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>
  </head>

  <body>
    <% if logged_in? %>
      <%= render 'layouts/header' %>
    <% else %>
      <%= render 'layouts/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
